<app-header></app-header>
<app-sidenav></app-sidenav>

<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <h4 class="Title">Hello {{name}} <button (click)="leaveRoom()">Leave Room</button></h4>
            <ul id="messages">
                <li *ngFor="let item of messageArray" class="message__area" >




                    <!-- <div class="incoming message">
                        <h4>gfugyugu</h4>
                        <p>fyrhfyfhgvghvhhvhgvghvhhvhgvhg</p>
                    </div>
                    <div class="outgoing message">
                        <h4>gfugyugu</h4>
                        <p>fyrhfyfhgvghvhhvhgvghvhhvhgvhg</p>
                    </div> -->




                    <div class="outgoing message" *ngIf="item.user==name; else elseBlock; " style="text-align: right;">
                        <span >
                            <h4>{{item.user}} : </h4>
                            <p>{{item.message}}</p>
                            <!-- <h6>Date & Time : 2/july/2021 </h6> -->
                        </span>
                    </div>
                    
                    <ng-template #elseBlock>
                        <div class="incoming message">
                            <span>
                                <h4>{{item.user}} : </h4>
                                <p>{{item.message}}</p>
                                <!-- <h6>Date & Time : 2/july/2021 </h6> -->
                            </span>
                        </div>
                    </ng-template>
                    <!-- <span #elseBlock><strong>{{item.user}} : </strong>{{item.message}}</span> -->
                </li>
            </ul>
            <form id="form" action="" [formGroup]="allSendNotificationForm">
                <input id="input" autocomplete="off" formControlName="title" />
                <div class="text-danger"
                    *ngIf="allSendNotificationForm.get('title').hasError('required') && (allSendNotificationForm.get('title').dirty)">
                    *Title is required
                </div>
               
                <button type="button" (click)="sendMessage(allSendNotificationForm.value)">Send</button>
            </form>
        </div>
    </div>
</div>

<div class="ModalBox">
    <div id="DeleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>Delete</h3>
                        <p>Are you sure you want to delete this Account?</p>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">no</a>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">Yes</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="BlockModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>Account Status Update</h3>
                        <p>Are you sure you want to update account status?</p>
                        <h4>
                            <a href="JavaScript:Void(0);" data-dismiss="modal">no</a>
                            <a href="JavaScript:Void(0);"  data-dismiss="modal">Yes</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>